body {
  background-image: url("americanFlag.png");
  font-family: 'Abril Fatface', cursive;
}

h1 {
  font-size: 4em;
  color: #A51717;
  text-align: center;
  text-shadow: 1px 1px 1px #FFFFFF;
}
h2 {
  font-size: 1.5em;
}

.content {
  text-align: center;
}

li {
  list-style: none;
  font-size: 1.2em;
}
button {
  font-family: 'Abril Fatface', cursive;
  font-size: 3em;
  border-radius: 6px;
  background-color:#163B84;
  color: #FFFFFF;
}
button:hover {
  background-color: #5374AD;
}
